body {
background-color: #ecf2f8;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
#container {
    display: flex;
    flex-direction: row;
    width: 47rem;
    height: 18rem;
    border-radius: 0.5rem;
    background-color: white;
}
#secondaryContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 0 0.5rem 0.5rem 0;

}

.imgContainer img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    object-position: left;
    border-radius: 0.5rem 0 0 0.5rem;
}
#profileContainer .proImg {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#profileContainer {
    margin-top: 1.2rem;
    position: relative;
}
.profileInfoBlock {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}
.info p {
    margin: 0;   
}
.profileInfoBlock .info .infoPBottom {
    margin-top: 3px;
    font-size: 0.8rem;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #9eafc2;
}
.profileInfoBlock .info .infoPTop {
    font-size: 1rem;
    color: #48556a;
    font-weight: 700;
    font-family: 'Bai Jamjuree', sans-serif;
}
.info {
    align-self: end;
}
#shareElement {
    position: absolute;
    display: none;
}

.shareBtn .btnImg {
    width: 18px;
    height: 18px;
    margin-top: 5px;
    padding: 0;    
}

.shareBtn {
    border: none;
    background-color: pink;
    border-radius: 50%;
    margin-left: auto;
    cursor: pointer;
    width: 45px;
    height: 45px;
    padding: 0;
    z-index: 10;
}

.info img {
    width: 45px;
    height: 45px;

}
h1 {
    font-size: 1.4rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
    margin-top: 0;
    color: #48556a;
}
#container .containerText{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5;
    margin: 0;
    color: #6d7f97;
}
#shareContainer {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    color: white;
    background-color: #48556a;
    position: absolute;
    width: 13rem;
    height: 2.9rem;
    top: -5.5rem;
    left: 15.5rem;
    border-radius: 0.5rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;

}
#shareContainer img {
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin: 0;
    align-self: center;
}
#shareContainer p {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    align-self: center;
    color: #9eafc2;
}
#shareContainer .arrow {
    width: 1.4rem;
    height: 1.4rem;
    background-color: #48556a;
    position: absolute;
    top: 2.8rem;
    transform: rotate(45deg);
}



@media only screen and (max-width: 600px) {
    #container, main{
        flex-direction: column;
        width: 93%;
        height: auto;
        margin: 0 auto;

    }
    #secondaryContainer {
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 0;
    }
    #secondaryContainer p {
        margin-top: 0.5rem;
        line-height: 1.5;
    }
    .imgContainer {
        width: 100%;
        height: 13.5rem;
    }
    .imgContainer img {
        border-radius: 0.5rem 0.5rem 0 0;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    .profileInfoBlock {
        padding: 0.3rem 2.3rem 0.3rem 2.3rem;
        border-radius: 0 0 0.5rem 0.5rem;
        width: auto;
    }
    h1 {
        margin-top: 2.2rem;
        font-size: 1.2rem;
        line-height: 1.3;
    }
    .containerText, h1 {
        padding: 0 2.3rem 0 2.3rem;
    }

    #shareElement {
        display: flex;
        position: absolute;
        margin-right: 2rem;
    }

    #shareContainer {
        position: absolute;
        width: 22.3rem;
        height: 4rem;
        left: -2.3rem;
        right: 0;
        top: 0;
        margin: 0;
        border-radius: 0 0 0.5rem 0.5rem;
        
    }
    #shareContainer p {
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
    }
    

    .arrow {
        display: none;
    }


  }
